.brand {
    color: #0b690b;
    font-size: 40px;
    font-weight: bolder;
}

body {
    background-color: #0b690b !important;
}

.navbar form {
    width: 55vw;
}
.navbar-brand {
    font-weight: bold;
    
}
.nav-cart {
    font-size: 30px;
    color: #0b690b;
}
.text {
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Number-Book-Dinamic {
    
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in;
    opacity: 0;
    
}

.card-img-top {
    height: 450px;
}

.position-relative {
    padding-left: 0px;
    transition: all 0.2s ease-in;
}

.position-relative-animation   .Number-Book-Dinamic {
    transform: translate(-45px, -50%);
    transition: opacity 0.1s ease-in 0.3s;
    opacity: 1;
}
.position-relative-animation {
    padding-left: 80px;
    
}


.number-single-book {
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    top: -12px;
    right: -8px;
    background-color: orange;
    transform: scale(0);
}

.number-single-book span {
    font-size: 10px;
    color: black;
}
.single-book-animation {
    position: relative;
}

.single-book-animation .number-single-book {
    transform: scale(1);
    transition: transform 0.1s ease-in;
}

.col-3 button {
    background: #0b690b;
}

.offcanvas .px-3.py-3 {
    background-color: #0b690b;
}

.offcanvas img {
    width: 90px;
}

.btn {
     transform: scale(1) !important;
     transition: transform 0.1s ease-in !important;
}
.btn:hover {
    transform: scale(1.05) !important;
    
}

.Animation-Cart {

    animation: Total-Navbar-Cart 0.3s ease-in forwards;
} 

@keyframes Total-Navbar-Cart { 
        
    0% {
        scale: 1;
    }
    50% {
        scale: 1.3;            
    }
    100% {
        scale: 1;           
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px !important;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .more {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: z-index 0.1s ease-in;
    z-index: -1;
  }

  .card a img{
    transition: filter 0.1s ease-in-out;
    filter: brightness(1);
  }

  .card a:hover img {
        filter: brightness(0.4);
        
      
  }

  .card a:hover .more{
    z-index: 0;
  }
.button-home {
    padding: 5px;
    border: 1px solid  #0b690b;
    background-color: white;
    width: 17vw;
    border-radius: 10px;
    margin: auto;
    transform: scale(1);
    transition: transform 0.1s ease-in;
}
.button-home span, .button-home i{
    
    color: #0b690b;
    
}

.button-home:hover {
    transform: scale(1.05);
}
 